$header-font: 'Lato', sans-serif;
$body-font: 'Roboto', sans-serif;
$red: red;

body {
  font-family: $body-font;
  margin:0px;
} 

h1,h3,h4 {
  font-family: $header-font;
}

h1 {
  font-weight: bold;
font-size: 24px;
line-height: 28px;
background: -webkit-linear-gradient(#EB5757, #FFA726);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
letter-spacing: 0.04em;
}

h2 {
  font-family: $body-font;
  font-size: 20px;
line-height: 28px;
background: -webkit-linear-gradient(180deg, #EB5757 0%, #872727 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
letter-spacing: 0.1em;
}

h3 {
  font-family: $body-font;
  font-size: 18px;
line-height: 20px;
background: -webkit-linear-gradient(180deg, #EB5757 0%, #872727 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
letter-spacing: 0.1em;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}
